<template>
    <Row>
        <Col lg="5">
            <h1 class="pb-2 pt-lg-4">{{ selectedFilm.title }}</h1>
            <small>{{ selectedFilm.release_date }}</small>
            <p class="m-0 pt-4"><strong>Director:</strong> {{ selectedFilm.director }}</p>
            <p class="m-0"><strong>Producer:</strong> {{ selectedFilm.producer }}</p>
        </Col>
        <Col lg="6" class="pt-4">
            <p>{{ selectedFilm.description }}</p>
        </Col>
    </Row>
</template>

<script>
import Row from '&c/layout/row';
import Col from '&c/layout/col';
export default {
    name: 'FilmPage',
    props: [
        'films'
    ],
    components: {
        Row,
        Col
    },
    computed: {
        selectedFilm: function () {
            let selectedFilm;
            this.films.forEach((film) => {
                if (film.id === this.$route.params.id) {
                    selectedFilm = film;
                }
            });
            return selectedFilm;
        }
    }
}
</script>

<style>

</style>
