<template>
    <Row no-gutters>
        <Col>
            <header>
                <router-link to="/"><Logo></Logo></router-link>
            </header>
        </Col>
    </Row>
</template>

<script>
import Row from '&c/layout/row';
import Col from '&c/layout/col';
import Logo from './Logo';
export default {
    name: 'Header',
    components: {
        Row,
        Col,
        Logo
    }
}
</script>

<style>
header {
    background: #232f49;
    padding: 24px 12px;
}
</style>
