<template>
    <Row>
        <Col lg="12" class="pt-2 pb-4">
            <button @click.prevent="setFilter('alphabetical')" class="btn" :class="{ 'btn-primary': filter === 'alphabetical' }">
                Alphabetical
                <span class="caret" v-if="filter == 'alphabetical'">{{ filterType === 'ascending' ? '&#9650;' : ' &#9660;' }}</span>
            </button>
            <button @click.prevent="setFilter('releaseYear')" class="btn" :class="{ 'btn-primary': filter === 'releaseYear' }">
                Release Year
                <span class="caret" v-if="filter == 'releaseYear'">{{ filterType === 'ascending' ? '&#9650;' : ' &#9660;' }}</span>
            </button>
            <button @click.prevent="setFilter('RTScore')" class="btn" :class="{ 'btn-primary': filter === 'RTScore' }">
                RT Score
                <span class="caret" v-if="filter == 'RTScore'">{{ filterType === 'ascending' ? '&#9650;' : ' &#9660;' }}</span>
            </button>
        </Col>
        <Col lg="6" class="py-2" v-for="film in sortedFilms" :key="film.id">
            <router-link :to="`/film/${film.id}`" class="spriteLink"><h2>{{ film.title }}</h2></router-link>
            <div><small>{{ film.director }} - {{ film.release_date }}</small></div>
        </Col>
    </Row>
</template>

<script>
import Row from '&c/layout/row';
import Col from '&c/layout/col';
import Btn from '&c/button/button';
export default {
    name: 'Home',
    data: function () {
        return {
            filter: 'alphabetical',
            filterType: 'descending'
        }
    },
    props: [
        'films'
    ],
    components: {
        Row,
        Col,
        Btn
    },
    methods: {
        setFilter: function (filter) {
            if (filter === this.filter) {
                let filterType;
                this.filterType === 'descending' ? filterType = 'ascending' : filterType = 'descending';
                this.filterType = filterType;
            } else {
                this.filter = filter;
            }
        },
        sortFilms: function (films, key) {
            films.sort((a, b) => {
                let itemA = key === 'title' ? a[key] : parseInt(a[key]);
                let itemB = key === 'title' ? b[key] : parseInt(b[key]);
                if (this.filterType === 'descending') {
                    if (itemA < itemB) return -1;
                    if (itemA > itemB) return 1;
                } else {
                    if (itemA < itemB) return 1;
                    if (itemA > itemB) return -1;
                }
                return 0;
            });
            return films;
        }
    },
    computed: {
        sortedFilms: function () {
            let _films = Array.from(this.films);
            switch (this.filter) {
                case 'alphabetical':
                    _films = this.sortFilms(_films, 'title');
                    return _films;
                    break;
                case 'releaseYear':
                    _films = this.sortFilms(_films, 'release_date');
                    return _films;
                    break;
                case 'RTScore':
                    _films = this.sortFilms(_films, 'rt_score');
                    return _films;
                    break;
            }
        }
    }
}
</script>

<style>
h2 {
    display: inline-block;
}

.spriteLink {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.spriteLink:hover {
    color: black;
}

.spriteLink:hover:after {
    content: '';
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}
</style>
