<template>
  <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 978 317"><path d="M362 99v101h-28V99h-36V75h99v24zm101 5h27v97h-27v-13a30 30 0 0 1-26 14c-9 0-19-3-26-10a38 38 0 0 1-11-30v-58h27v53c0 14 5 22 16 22 6 0 11-2 14-6a27 27 0 0 0 6-17zm439 52v-52h27v97h-27v-13a30 30 0 0 1-26 14c-9 0-19-3-26-10a38 38 0 0 1-11-30v-58h27v53c0 14 5 22 16 22 6 0 11-2 14-6a27 27 0 0 0 6-17zm-360-33v44a11 11 0 0 0 3 8 11 11 0 0 0 7 3c5 0 10-2 13-6l10 19a39 39 0 0 1-27 11 32 32 0 0 1-33-31v-48h-11v-19h11V75h27v29h24v19zm138 30a51 51 0 0 1-15 36 53 53 0 0 1-73 0 51 51 0 0 1 0-72c21-19 53-19 73 0a51 51 0 0 1 15 36zm-75 0c0 7 2 14 7 19a24 24 0 0 0 34 0c5-5 7-12 7-19s-2-14-7-19a23 23 0 0 0-32-2l-2 2c-5 5-7 12-7 19zm141-25c-7 0-14 3-18 9a43 43 0 0 0-6 22v42h-27v-96h27v12l13-10c5-2 10-4 16-4v25zm27-38h27v111h-27z" fill="#fff"/><path d="M762 104h62v19h-62zm11-13a32 32 0 0 1 31-33h2a36 36 0 0 1 26 11l-10 19c-3-4-7-7-13-7-2 0-5 1-6 3a9 9 0 0 0-3 7zm178-28h27v138h-27z" fill="#fff"/><path d="M76 117l6 3 22 8 8 3 125 45a1 1 0 0 0 2-1V2a1 1 0 0 0-2-1L1 87a1 1 0 0 0 0 2l50 19zm12 26a1 1 0 1 0-2 1v61l1 1 151 66a1 1 0 1 0 2-1v-84l-1-1z" fill="#4cbcc3"/><path d="M434 300v-37h-7v-6h7v-5q0-7 3-10t10-4a17 17 0 0 1 3 0l3 1-1 6-2-1a18 18 0 0 0-2 0 6 6 0 0 0-5 2 9 9 0 0 0-1 6v5h8v6h-8v37zm22-22q0-9 5-15t14-6q9 0 14 6t5 15v1q0 9-5 15t-14 6q-8 0-13-6t-6-15zm8 1a20 20 0 0 0 3 11 10 10 0 0 0 17 0 20 20 0 0 0 3-11v-1a20 20 0 0 0-3-11 9 9 0 0 0-9-4 9 9 0 0 0-8 4 20 20 0 0 0-3 11zm60-15h-4a9 9 0 0 0-5 1 9 9 0 0 0-4 4v31h-7v-43h7v7a15 15 0 0 1 5-6 10 10 0 0 1 6-1 10 10 0 0 1 1 0 11 11 0 0 1 2 0zm14-7l1 6a14 14 0 0 1 5-5 16 16 0 0 1 7-1 13 13 0 0 1 7 2 12 12 0 0 1 5 5 16 16 0 0 1 5-5 14 14 0 0 1 8-2 13 13 0 0 1 10 4q4 4 4 13v26h-8v-26q0-6-2-9t-6-2a8 8 0 0 0-7 3 12 12 0 0 0-3 6v28h-7v-26q0-6-3-8a8 8 0 0 0-6-3 11 11 0 0 0-6 1 9 9 0 0 0-3 4v32h-8v-43zm81 43q-9 0-14-5t-6-16v-1a22 22 0 0 1 6-15 17 17 0 0 1 12-6q9 0 13 5t5 14v4h-28v1a17 17 0 0 0 3 10 10 10 0 0 0 9 3 19 19 0 0 0 6-1 16 16 0 0 0 6-3l3 5a18 18 0 0 1-6 4 24 24 0 0 1-9 1zm-2-37a8 8 0 0 0-6 3 15 15 0 0 0-4 8h20v-1a12 12 0 0 0-2-7q-3-3-8-3zm46 1h-4a9 9 0 0 0-5 1 9 9 0 0 0-3 4v31h-8v-43h7l1 7a15 15 0 0 1 4-6 10 10 0 0 1 6-1 10 10 0 0 1 2 0 11 11 0 0 1 1 0zm16 36h-8v-61h8zm25-16l1 5 11-32h8l-17 49a22 22 0 0 1-5 8 11 11 0 0 1-8 3 17 17 0 0 1-2-1h-3l1-6a10 10 0 0 1 1 0h3a5 5 0 0 0 4-2 23 23 0 0 0 2-5l2-4-16-42h9zm87-35h-18v51h-8v-51h-18v-6h44zm31 44a14 14 0 0 1-5 6 14 14 0 0 1-7 1q-7 0-11-4t-4-14v-25h8v25q0 7 2 10t6 2a13 13 0 0 0 7-1 10 10 0 0 0 4-5v-31h8v43h-7zm29-46v10h8v6h-8v26l1 4a4 4 0 0 0 3 1 8 8 0 0 0 2 0 9 9 0 0 0 1 0l1 5a7 7 0 0 1-2 1 13 13 0 0 1-3 0 10 10 0 0 1-8-2q-3-3-3-9v-26h-6v-6h6v-10zm16 31q0-9 5-15t14-6q8 0 13 6t6 15v1q0 9-6 15t-13 6q-9 0-14-6t-5-15zm7 1a20 20 0 0 0 3 11 10 10 0 0 0 17 0 20 20 0 0 0 3-11v-1a20 20 0 0 0-3-11 9 9 0 0 0-8-4 9 9 0 0 0-9 4 20 20 0 0 0-3 11zm60-15h-4a9 9 0 0 0-5 1 9 9 0 0 0-3 4v31h-8v-43h7l1 7a15 15 0 0 1 4-6 10 10 0 0 1 6-1 10 10 0 0 1 2 0 11 11 0 0 1 1 0zm33 36v-4a25 25 0 0 1-1-3 18 18 0 0 1-5 5 14 14 0 0 1-8 2q-6 0-10-3t-3-9a11 11 0 0 1 5-10q5-3 13-3h8v-4a8 8 0 0 0-2-6 9 9 0 0 0-6-2 9 9 0 0 0-6 2 6 6 0 0 0-3 4h-7q0-5 4-9t12-3q7 0 12 3t4 11v20a40 40 0 0 0 0 5 22 22 0 0 0 1 4zm-12-6a14 14 0 0 0 7-2 10 10 0 0 0 4-5v-7h-8a11 11 0 0 0-8 2 7 7 0 0 0-2 6 6 6 0 0 0 1 4 7 7 0 0 0 6 2z" fill="#fff"/></svg>
</template>

<script>
export default {
    name: 'Logo'
}
</script>

<style>
    svg {
        width: 138px;
    }
</style>
