<template>
  <Container fluid class="p-0">
    <Header></Header>
    <Container id="app" class="py-4">
      <router-view :films="films"/>
    </Container>
  </Container>
</template>

<script>
import Container from '&c/layout/container';
import Header from '@/components/Header.vue';
import ax from 'axios';
export default {
  name: 'App',
  data: function () {
    return {
      films: []
    }
  },
  components: {
    Container,
    Header
  },
  beforeMount: async function () {
    let { data } = await ax.get('http://localhost:8090/films');
    this.films = data;
  }
}
</script>

<style>
body {
  margin: 0;
}
</style>
